body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #7CAFC4;
}
#gameHeader{
    text-align: center;
}
#title{
    font-size: 3em;
    color: #FCFF4B;
    font-family: 'Press Start 2P', cursive;

}
#score{
    font-size: 3em;
    color: #FCFF4B;
    font-family: 'Aldrich', sans-serif;

}

#endgame{
    color: #FCFF4B;
    text-shadow: 3px 3px green;
    animation: hueRotate 2s infinite;
    cursor: pointer;
    font-family: 'Aldrich', sans-serif;

}
@keyframes hueRotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.jeopardyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1/2fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #FFAD05;
  padding: 10px;
  /* font-family: helvetica; */
  color: #FCFF4B;
  border-radius: 10px;
  height: 70vh;
  width: 90vw;  
}

.questions{
    background-color: #5995ED;
  border: 1px solid #fff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 11.5vh;
  cursor: pointer;
  font-family: 'Aldrich', sans-serif;
}
#dDouble{
    animation: hueRotate 2s infinite;
}
.categories{
    background-color:  #5995ED;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}

.modalCustom{
    background-color: #5995ED;
    color: #FCFF4B;
}

.modal-dialog{
    width: 60vw;
}

.modalFooterCenter{
    display: flex;
    justify-content: center;
    color: #FCFF4B
}

.modalBodyCustom{
    font-size: 3em;
    font-family: 'Aldrich', sans-serif;
    text-shadow: 3px 3px black;

}
